<script>
    function showDialog() {
        $("#dialogPost").dialog({ width: 330, height: 230, title: "Submit Content", resizable: false });
    };
</script>
@*@model TopPost.Models.Post*@

<div id="dialogPost" hidden="hidden">
    @using (Html.BeginForm("FileUpload", "Posts", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
    {
        @Html.Label("Title")
        @Html.TextBox("Title")
        <br />
        @Html.Label("Description")
        @Html.TextBox("Description")
        <p>Image:</p>
        <input type="file" name="file" id="file" style="width: 100%;" />
        <br />
        <input type="submit" value="Upload" class="btn-default" />
    }
</div>