@model IEnumerable<TopPost.Models.Post>

@foreach (var fav in Model)
{
    <a href="~/Posts/Show/@fav.Id" class="thumbnail-container">
        <div>@fav.Title</div>
        <div>
            <img src="@fav.ThumbnailUrl" width="180px" height="180px" />
        </div>
    </a>
}

