@model IEnumerable<TopPost.Web.ViewModels.Posts.PostThumbViewModel>

<div class="text-center">
    @if (Model == null)
    {
        <h2>
            No results
        </h2>
    }
    else
    {
        foreach (var image in Model)
        {
            <a href="~/Posts/Show/@image.Id" class="thumbnail-container">
                <div>@image.Title</div>
                <div>
                    <img src="@image.ThumbnailUrl" width="180" height="180" />
                </div>
            </a>
        }
    }
</div>